input[type="checkbox"] {
    display: none;
}
label::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #e1e1e1;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]:checked + label::before {
    content: '\2713';
    color: #fff;
    background-color: #063;
    text-align: center;
}