body {
    margin: 0;
    padding:0;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 19px;
}
nav {
    background-color: #dbdbdb;
}
section {
    margin-bottom: 30px;
}
.resume {
    width: 85%;
    background-color: #fff;
    margin: auto;
    margin-bottom: 35px;
}
footer {
    background-color: #ccc;
}

@media screen and (max-width: 950px) {
    
}